.slider-container {
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
  overflow-x: hidden;
  margin: 0;
}
.slider-slide {
  position: relative;
}
.image-slide {
  margin: 0;
  display: inline-block;
  width: 100%;
  max-inline-size: 1200px;
  /* height: auto; */
  /* aspect-ratio: 16/9; */
}
.wrapper-container {
  padding-bottom: 56px;
}
.slider-bullet {
  background: #424242;
}
.slider-bullet.selected {
  background: var(--white);
}
.button-container {
  position: absolute;
  bottom: 32px;
  left: 23.5px;
  display: flex;
  gap: 16px;
  flex-direction: row;
}
.button-container-modal {
  /* position: absolute; */
  display: flex;
  gap: 16px;
  flex-direction: row;
}
.content-buttonA {
  font: var(--button);
  color: var(--black);
}
.content-buttonB {
  font: var(--button);
  color: var(--primary);
}
