@import "./menu.css";
@import "./search.css";

:root {
  --black: #000000;
  --black-hover: hsl(0, 0%, 20%);
  --white: #fffffe;
  --bg: #0f0e17;
  --bg-alt: #161422;
  --primary: #fed941;
  --primary-hover: hsl(48, 99%, 70%);
  --grey: #a7a9be;
  --fontPrimary: "Montserrat", sans-serif;
  --headline1: 700 48px/58px var(--fontPrimary);
  --headline2: 700 46px/56px var(--fontPrimary);
  --headline3: 700 37px/31.5px var(--fontPrimary);
  --headline4: 700 28px/34.13px var(--fontPrimary);
  --headline5: 700 25px/30.48px var(--fontPrimary);
  --body1: 400 18px/27px var(--fontPrimary);
  --body1-bold: 700 18px/27px var(--fontPrimary);
  --body2: 400 16px/22px var(--fontPrimary);
  --body2-bold: 700 16px/22px var(--fontPrimary);
  --button: 700 18px/28px var(--fontPrimary);
  --caption: 400 12px/22px var(--fontPrimary);
}

body {
  background: var(--bg);
  margin: 0;
  color: var(--white);
  font: var(--fontPrimary);
}
.actions {
  display: flex;
  gap: 21px;
  padding: 1em 0 2em;
}
.actions > * {
  position: relative;
}
.actions > *::after {
  content: "/";
  color: #3f69ff;
  display: inline-flex;
  position: absolute;
  left: calc(100% + 10px);
  text-align: center;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
}
.actions > *::after:last-child {
  display: none;
}
.movie {
  position: relative;
  transition: 1s;
}
.movie.recommended img {
  border: 2px solid goldenrod;
  box-sizing: border-box;
  perspective-origin: top;
  animation: recommended 1s forwards;
}

@keyframes recommended {
  to {
    transform: perspective(500px) rotate3d(0, -1, 0, 25deg);
  }
}
.movie.recommended .movie-rate {
  background-color: goldenrod;
  box-shadow: 0 0 0 2px goldenrod;
}

.movie-poster {
  max-width: 100%;
  width: 100%;
  border-radius: 0.7em;
}

.movie-title {
  font-weight: bold;
}

.movie-rate {
  position: absolute;
  left: 1em;
  top: 1em;
  background: #839eff;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 0 2px #3f69ff;
}
