@import "./menu.css";
@import "./search.css";
@import "./carousel.css";
@import "./spinner.css";
@import "./modal.css";
@import "./modal-search.css";

:root {
  --black: #000000;
  --black-hover: hsl(0, 0%, 20%);
  --white: #fffffe;
  --bg: #0f0e17;
  --bg-alt: #161422;
  --primary: #fed941;
  --primary-hover: hsl(48, 99%, 70%);
  --grey: #a7a9be;
  --fontPrimary: "Montserrat", sans-serif;
  --headline1: 700 48px/58px var(--fontPrimary);
  --headline2: 700 46px/56px var(--fontPrimary);
  --headline3: 700 37px/31.5px var(--fontPrimary);
  --headline4: 700 28px/34.13px var(--fontPrimary);
  --headline5: 700 25px/30.48px var(--fontPrimary);
  --body1: 400 18px/27px var(--fontPrimary);
  --body1-bold: 700 18px/27px var(--fontPrimary);
  --body2: 400 16px/22px var(--fontPrimary);
  --body2-bold: 700 16px/22px var(--fontPrimary);
  --button: 700 18px/28px var(--fontPrimary);
  --caption: 400 12px/22px var(--fontPrimary);
}

body {
  background: var(--bg);
  margin: 0;
  color: var(--white);
  font: var(--fontPrimary);
}
.actions {
  display: flex;
  gap: 21px;
  padding: 1em 0 2em;
}
.actions > * {
  position: relative;
}
.actions > *::after {
  content: "/";
  color: #3f69ff;
  display: inline-flex;
  position: absolute;
  left: calc(100% + 10px);
  text-align: center;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
}
.actions > *::after:last-child {
  display: none;
}
.movie-list {
  grid-template-columns: repeat(auto-fit, 220px);
  gap: 25px;
}
.movie {
  position: relative;
  transition: 1s;
}
.movie:hover {
  cursor: pointer;
}
.movie.recommended img {
  /* border: 2px solid goldenrod; */
  box-sizing: border-box;
  perspective-origin: top;
  animation: recommended 1s forwards;
}
.movie.recommended .movie-rate {
  border: 3px solid var(--primary);
  border-left-color: transparent;
}

.movie-poster {
  max-width: 100%;
  width: 100%;
  border-radius: 0.7em;
}

.movie-rate {
  position: absolute;
  left: 0px;
  top: 24px;
  color: white;
  padding: 15px 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  opacity: 0.64;
  border: 3px solid #0e3fa9;
  border-left-color: transparent;
  box-sizing: border-box;
  backdrop-filter: blur(130px);
  gap: 8px;
}
.rate {
  font: var(--headline4);
  color: white;
  margin: 0;
}
.resultText {
  font: var(--headline4);
  color: white;
}
.not-result {
  display: block;
}
.not-result.hidden {
  display: none;
}
.modal {
  display: none;
}
.modal.active {
  display: block;
}
.header-logo {
  max-width: 106.81px;
}
.header-container {
  padding-block: 24px;
}
.menu-phone {
  display: none;
}
.icon-button:hover {
  cursor: pointer;
}
.search-headline {
  font: var(--headline1);
  margin-bottom: 48px;
}
@media screen and (max-width: 480px) {
  .wrapper-header {
    padding: 0px 16px 0px 16px;
  }
  .wrapper-list {
    padding: 0px 16px 0px 16px;
  }
  .wrapper-list.modal {
    display: none;
  }
  .header-logo {
    max-width: 66.75px;
  }
  .header-container {
    padding-block: 8px;
  }
  .menu-phone {
    display: flex;
  }
  .search-headline {
    font: var(--body2-bold);
    margin-bottom: 16px;
  }
  .movie-list {
    grid-template-columns: repeat(auto-fit, 80px);
    gap: 12px;
  }
  .movie-rate {
    padding: 6px 10px 7px 0px;
    gap: 2px;
  }
  .rate {
    font: var(--body2-bold);
  }
}
